<!DOCTYPE html>
<html lang="en">
    
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>Shubham Jagtap Chatbot</title>

    <!-- font icons -->
    <link rel="stylesheet" href="/static/vendors/themify-icons/css/themify-icons.css">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/vendors/owl-carousel/css/owl.theme.default.css">

    <!-- Bootstrap + Ollie main styles -->
	<link rel="stylesheet" href="/static/css/ollie.css">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/imgs/brand.svg" alt="" class="brand-img"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-0 ml-lg-4">
                        <a class="nav-link btn" href="#">Shubham's Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Hi <br>I am <br>Joke Jajo</h1>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Hi <br>I am <br>Joke Jajo</h1>
                            
                          </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Hi <br>I am <br>Joke Jajo</h1>
                            
                          </div>
                    </div>
                </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">Hey I am</h6>
                <h5>Shubham Jagtap</h5>
                <p class="font-small">Data Scientist   ( I made Jajo NLP Chatbot ).</p>
                <div class="col">
                    <a class="d-block subtitle" href="mailto:shubham.c.jagtap@gmail.com"><i class="ti-email pr-2"></i> shubham.c.jagtap@gmail.com</a>
                </div>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/shubham-jagtap-scj4497/" class="link pr-1"><i class="ti-linkedin"></i></a>
                    <!--<a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                    <a href="javascript:void(0)" class="link pr-1"><i class="ti-google"></i></a>
                    <a href="javascript:void(0)" class="link pr-1"><i class="ti-pinterest-alt"></i></a>
                    <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                    <a href="javascript:void(0)" class="link pr-1"><i class="ti-rss"></i></a>
                    <a href="javascript:void(0)" class="link pr-1"><i class="ti-"></i></a>-->
                </div>
                <!--<div class="col-md-6 text-center text-md-left">
                    <p class="mb-0"><a target="_blank" href="mailto:shubham.c.jagtap@gmail.com ">Copyright <script>document.write(new Date().getFullYear())</script> &copy; shubhamjagtap</a></p>
                </div>-->
            </div>
            
            <!--<div class="socials text-md-left">
                <div class="row justify-content-center">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i> (123) 456-7890</a>
                        <a class="d-block subtitle"><i class="ti-email pr-2"></i> info@website.com</a>
                    </div>
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2">Social Media</h6>
                        
                    </div>
                </div>
            </div>-->
            
        </div>
        <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="/static/imgs/bot.png" alt="image" width="75" height="75">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">Chitter Chatter</h4>
                            <p class="chatbox__description--header">Hello. I am joke master Jajo. Wanna hear joke?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button"><img src="/static/imgs/send.png" alt="image" width="75" height="40"></button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="/static/imgs/chatbox-icon.svg" /></button>
                </div>
            </div>
        </div>
    </header>
    
    
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="/static/app.js"></script>

 
	<!-- core  -->
    <script src="/static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="/static/vendors/bootstrap/bootstrap.affix.js"></script>
    
    <!-- Owl carousel  -->
    <script src="/static/vendors/owl-carousel/js/owl.carousel.js"></script>


    <!-- Ollie js -->
    <script src="/static/js/Ollie.js"></script>

</body>
</html>
